{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-lg mt-5" style="max-width: 970px;">
        <div class="row m-5">
            <div class="col">
                <a href="{% url 'cogscinetform' %}"><img src="{% static 'cogscinet/logo.jpg' %}"></a>
            </div>
        </div>
        <div class="row m-5">
            <div class="col">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
                <p>&nbsp;</p>
                <hr>
                <h2 class="display-5">Imprint</h2>
                <p>Verein der Freunde und Förderer des Instituts für Kognitionswissenschaft e.V. <br/>
                    c/o Kai-Uwe Kühnberger<br/>
                    Institut für Kognitionswissenschaft <br/>
                    Universität Osnabrück<br/>
                    49069 Osnabrück<br/>
                    E-Mail: <a href="mailto:f2ikw@ikw.uos.de" class="link-dark">f2ikw@ikw.uos.de</a><br/>
                    Telefax: +49 541 969-16502, Telefon: +49 541 969-6502<br/>
                    Einzeln vertretungsberechtigte Vorstandsmitglieder: Prof. Dr. Kai-Uwe Kühnberger, Dr. Tobias Thelen, Pascal Nieters<br/>
                    Vereinregister: Amtsgericht Osnabrück VR
                </p>
            </div>
        </div>
    </div>
</body>

</html>
