{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-lg mt-5" style="max-width: 970px;">
        <div class="row m-5">
            <div class="col">
                <img src="{% static 'cogscinet/logo.jpg' %}">
            </div>
        </div>
        <div class="row m-5">
            <div class="col">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
                <p>&nbsp;</p>
                <hr>
                <h2>Imprint</h2>
                <p>Verein der Freunde und Förderer des Instituts für Kognitionswissenschaft e.V. <br/>
                    c/o Kai-Uwe Kühnberger<br/>
                    Institut für Kognitionswissenschaft <br/>
                    Universität Osnabrück<br/>
                    49069 Osnabrück</p>
                <p>E-Mail: <a href="mailto:f2ikw@ikw.uos.de" class="link-dark">f2ikw@ikw.uos.de</a></p>
                <p>Telefax: +49 541 969-16502</p>
                <p>Telefon: +49 541 969-6502</p>
                <p>Einzeln vertretungsberechtigte Vorstandsmitglieder: Prof. Dr. Kai-Uwe Kühnberger, Pascal Nieters, Dr. Tobias Thelen</p>
            <p>Vereinregister: Amtsgericht Osnabrück VR
                </p>
            </div>
        </div>
    </div>
</body>

</html>
