{%  extends 'cogscinet/base.html' %}
{% load bootstrap5 %}
{% block content %}
    {% if status == 'error' %}
        <h1 class="display-3">Error!</h1>
        <p>&nbsp;</p>
        <p>Error: The confirmation link you used is invalid. Please check if the link has been copied completely.</p>
    {% elif status == 'already validated' %}
        <h1 class="display-3">Already confirmed</h1>
        <p>&nbsp;</p>
        <p>Dear {{ anmeldung.firstname }} {{ anmeldung.lastname }} {% if anmeldung.company %}(for {{ anmeldung.company }}){% endif %}, your commitment was confirmed already. You don't have to take any further action, just wait for further information from us.</p>
    {% elif status == 'success' %}
        <h1 class="display-3">Commitment confirmed</h1>
        <p>&nbsp;</p>
        <p>Dear {{ anmeldung.firstname }} {{ anmeldung.lastname }} {% if anmeldung.company %}(for {{ anmeldung.company }}){% endif %}, your commitment and your e-mail address have been confirmed. Thank you! You don't have to take any further action, just wait for further information from us.</p>
    {% else %}
        <p>Unknown error. Bitte antworte auf die Mail mit dem Bestätigungslink und teile uns mit, dass bei der Bestätigung ein Fehler aufgetreten ist.</p>
    {% endif %}
{% endblock %}