{%  extends 'cogscinet/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <h1 class="display-3">Mitgliedserklärungen</h1>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

<table class="table striped">
    <tr><th>#</th><th>Valid</th><th>Date</th><th>Lastname</th><th>Firstname</th><th>E-Mail</th><th>Membership</th><th>IBAN</th><th>Plan</th><th>Extra fee</th><th>Suggested name</th><th>Notes</th></th>
{% for anmeldung in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ anmeldung.validated|yesno:"Yes,No" }}</td>
        <td>{{ anmeldung.mkdate|date:"d.M.Y, h:m:s" }}</td>
        <td>{{ anmeldung.lastname }}</td>
        <td>{{ anmeldung.firstname }}</td>
        <td><a href="mailto:{{ anmeldung.email }}">{{ anmeldung.email }}</a></td>
        <td>{{ anmeldung.get_membership_display }}</td>
        <td>{{ anmeldung.iban }}</td>
        <td>{{ anmeldung.get_plan_display }}</td>
        <td>{{ anmeldung.extra_fee }}</td>
        <td>{{ anmeldung.suggested_name }}</td>
        <td>{{ anmeldung.notes }}</td>
    </tr>

{% empty %}
    <tr><td colspan="8">No registrations yet.</td></tr>
{% endfor %}
</table>
{% endblock %}