<p>Dear {{anmeldung.firstname}} {{anmeldung.lastname}},</p>
<p>thank you very much for your registration for this year's Schnupperstudium.</p>

<p>This is the information we recevied from you:</p>

<ul>
    <li>Name: {{anmeldung.firstname}} {{anmeldung.lastname}}</li>
    <li>E-Mail-Adress: {{ anmeldung.email }}</li>
    <li>Interested in: {{ anmeldung.get_program_display }}</li>
    <li>Accomodation needed: {{ anmeldung.accomodation|yesno:"Yes,No" }}</li>
    <li>Food preference: {{ anmeldung.get_food_display }}</li>
    <li>Futher notes: {{ anmeldung.notes }}</li>
</ul>

<p><b>Please confirm your registration and your email-address by clicking on this link:</b>
<a href="{{ anmeldung.validation_url }}">{{ anmeldung.validation_url }}</a>
</p>

<p>In case of questions, please contact ...</p>

<pre>--
------------------------------------------------
our signature....
</pre>