{%  extends 'schnupper/base.html' %}
{% load bootstrap5 %}
{% block content %}
    <h1 class="display-3">Anmeldung zum Schnupperstudium</h1>
    <p>Melde dich hier an.</p>
    {# Display django.contrib.messages as Bootstrap alerts #}

    {# Display a form #}
    <form action="" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-secondary">
          Submit
        </button>
      {% endbuttons %}
    </form>

{% endblock %}